<%- include('../partials/header') %>

<h2>Skill - #<%= skill.id %></h2>
<h3><%= skill.skill %></h3>
<h3>Level: <%= skill.level %></h3>
<a href="/skills/<%= skill.id %>/edit">Edit Skill</a>


<%- include('../partials/footer') %>