<%- include('../partials/header') %>

<h2>Skills Details - #<%= skill.id %></h2>
<h3><%= skill.skill %></h3>
<h3>Complete: <%= skill.proficient ? 'Yes' : 'No' %></h3>
<a href="/skills/<%= skill.id %>/edit">Edit Skill</a>


<%- include('../partials/footer') %>